################################################################################
# MINITAGE LIBRARY PROJECT BUILDOUT
################################################################################
[buildout]
eggs-directory=../../eggs/cache
develop-eggs-directory=../../eggs/develop-eggs
parts = part
versions = versions
hooks-directory = ${buildout:directory}/hooks
[versions]
[geos]
location=${buildout:directory}/../../dependencies/geos-3.0/parts/part
[postgresql]
location=${buildout:directory}/../../dependencies/postgresql-8.4/parts/part
[proj]
location=${buildout:directory}/../../dependencies/proj-4.6/parts/part
[part]
md5sum=b0d52c2c23c316fc9884632a80b380a5
name = part
recipe = minitage.recipe:cmmi
url = http://postgis.refractions.net/download/postgis-1.3.2.tar.gz
configure-options =
    --with-pgsql=${postgresql:location}/bin/pg_config
    --with-geos=${geos:location}/bin/geos-config
    --with-proj=${proj:location}
pre-make-hook = ${buildout:hooks-directory}/postgis.py:pre_make

