################################################################################
# MINITAGE LIBRARY PROJECT BUILDOUT
################################################################################
# the project part is maybe the only one you will need to modify for a new
# project
[project]
eggs-directory=${buildout:directory}/../../eggs/cache
develop-eggs-directory=${buildout:directory}/develop-eggs

directory=${buildout:directory}/../../
dependencies=${buildout:directory}/../../dependencies
parts =
    part
#########################################
# Buildout settings
# Modify at your own risks
#########################################
[buildout]
python = python2.4
executable = python2.4
versions = versions
parts = ${project:parts}
hooks-directory = ${buildout:directory}/hooks
parts-directory = ${parts:directory}
eggs-directory = ${project:eggs-directory}
develop-eggs-directory = ${project:develop-eggs-directory}
develop =


# Set our 2.4 python
[python2.4]
executable=${project:dependencies}/python-2.4/part/bin/python
name=python2.4

[versions]
bopen.recipe.libinc = 0.2.1
hexagonit.recipe.cmmi = 1.1.1
hexagonit.recipe.download = 1.2.0
setuptools = 0.6c7

[parts]
directory=${buildout:directory}

[replace]
location=${project:dependencies}/replace/part
include=${project:dependencies}/replace/part/include
lib=${project:dependencies}/replace/part/lib
[geos]
location=${project:dependencies}/geos-3.0/part
include=${project:dependencies}/geos-3.0/part/include
lib=${project:dependencies}/geos-3.0/part/lib 
[python]
location=${project:dependencies}/python-2.5/part
include=${project:dependencies}/python-2.5/part/include
lib=${project:dependencies}/python-2.5/part/lib 
[postgresql]
location=${project:dependencies}/postgresql-8.2-py2.5/part
include=${project:dependencies}/postgresql-8.2-py2.5/part/include
lib=${project:dependencies}/postgresql-8.2-py2.5/part/lib 
[proj]
location=${project:dependencies}/proj-4.5/part
include=${project:dependencies}/proj-4.5/part/include
lib=${project:dependencies}/proj-4.5/part/lib   
[fontconfig]
location=${project:dependencies}/fontconfig-2.5/part
include=${project:dependencies}/fontconfig-2.5/part/include
lib=${project:dependencies}/fontconfig-2.5/part/lib 
[flex]
location=${project:dependencies}/flex-2.5/part
include=${project:dependencies}/flex-2.5/part/include
lib=${project:dependencies}/flex-2.5/part/lib 
[libiconv]
location=${project:dependencies}/libiconv-1.12/part
include=${project:dependencies}/libiconv-1.12/part/include
lib=${project:dependencies}/libiconv-1.12/part/lib 
[swig]
location=${project:dependencies}/swig-1.3/part
include=${project:dependencies}/swig-1.3/part/include
lib=${project:dependencies}/swig-1.3/part/lib  
[openssl]
location=${project:dependencies}/openssl-0.9/part
include=${project:dependencies}/openssl-0.9/part/include
lib=${project:dependencies}/openssl-0.9/part/lib
[zlib]
location=${project:dependencies}/zlib-1.2/part
include=${project:dependencies}/zlib-1.2/part/include
lib=${project:dependencies}/zlib-1.2/part/lib 

[part]
recipe = hexagonit.recipe.cmmi
url = http://postgis.refractions.net/download/postgis-1.3.2.tar.gz
configure-options =
    --with-pgsql=${postgresql:location}/bin/pg_config
    --with-geos=${geos:location}/bin/geos-config
    --with-proj=${proj:location}
    PATH=$PATH:${flex:location}/bin/
pre-make-hook = ${buildout:hooks-directory}/postgis.py:pre_make
pre-configure-hook = ${buildout:hooks-directory}/setenv.py:getpostgisenv
